:root {
  /* 
  * Novas cores
  */
  --heading: #eeeef2;
  --paragraphy: #d1d2dc;
  --description: #b3b5c6;
  --legend: #797d9a;
  --button: #0C1A32;
  
  /* --background-color: #090914; */
  --background-card: #1f2029;
  --background-color: #181b23;
  --sidebar-color: #181b23;
  --border-color: #353646;

  --primary90: #FFC312;
  --primary50: #f2d184;

  --success90: #28a745;
  --success50: #e6fffa;

  --danger90: #c53030;
  --danger50: #fddede;

  --info90: #3172b7;
  --info50: #ebf8ff;

  
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--background-color);
  color: var(--heading);
  font-family: Ubuntu, sans-serif;
}

button, textarea, input {
  font-family: Ubuntu, sans-serif;
}

a {
  text-decoration: none;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--primary90) var(--background-color);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary90);
  border-radius: 10px;
  border: 3px solid var(--background-color);
}

