:root {
  --background-color: #090914;

  --gray90: #181b23;
  --gray80: #1f2029;
  --gray70: #353646;
  --gray60: #4b4d63;
  --gray50: #616480;
  --gray40: #797d9a;
  --gray30: #9699b0;
  --gray20: #b3b5c6;
  --gray10: #d1d2dc;
  --gray5: #eeeef2;

  --white100: #fff;
  --white90: #f1f5fb;

  --blue90: #0C1A32;
  --blue80: #4f46ba;
  --blue30: #c1cee5;

  --black80: #202020;

  --yellow90: #FFC312;
  --yellow50: #f2d184
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--gray90);
  color: var(--gray5);
  font-family: Ubuntu, sans-serif;
}

button, textarea, input {
  font-family: Ubuntu, sans-serif;
}

a {
  text-decoration: none;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--yellow90) var(--gray90);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--gray90);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--yellow90);
  border-radius: 10px;
  border: 3px solid var(--gray90);
}

