.container {
  width: 100%;
  height: 56px;
  background-color: var(--yellow90);
  color: var(--blue90);

  border-radius: 8px;
  border: 1px solid var(--yellow90);

  font-weight: 500;
  font-size: 20px;

  cursor: pointer;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
