.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.pagination {
  display: flex;
  align-items: center;

  list-style: none;

  li {

    button {
      height: 30px;
      width: 30px;
  
      border: 0;
  
      background-color: var(--border-color);
      border-radius: 4px;

      color: var(--heading);
  
      cursor: pointer;

      &.activePage {
        background-color: var(--primary90);
        color: var(--background-card);
      }
    }

    div {
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & + li {
      margin-left: 4px;
    }
  }
}


