.container {
  width: 100%;
  position: relative;
  padding: 15px;
  // box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.2);
  display: flex;
  // border-radius: 4px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;

  > svg {
    margin-right: 10px;
  }
}

.info {
  background: var(--info90);
  color: var(--info90);
}

.success {
  background: var(--success50);
  color: var(--success90);
}

.error {
  background: var(--danger50);
  color: var(--danger90);
}
