.container {
  max-width: 1080px;
  max-height: 100vh;
  margin: 0 auto;
}

.headerContent {
  padding: 50px 20px 20px;
  margin-bottom: 50px;

  a {
    color: var(--whithe90);

    > h1 span {
      color: var(--yellow90);
    }
  }
}

.mainContent {
  padding: 0 20px;

  header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 50px;

    > div {
      display: flex;
      align-items: center;
      height: 36px;
      border-radius: 20px;
      background-color: var(--white100);

      padding: 0 20px;

      input {
        flex: 1;
        border: 0;
        
      }

      svg {
        stroke: var(--yellow90);
      }

    }
  }

  table {
    width: 100%;
    border-spacing: 0 20px;


    thead {

      border-bottom: 1px solid #ddd;

      th {
        padding: 0 20px;
        color: var(--blue80);
        text-align: left;
        font-size: 20px;

        &:nth-child(3) {
          text-align: right;
        }
        margin-bottom: 20px;
      }
    }

    tbody td {
      margin-top: 20px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      font-size: 12px;

      padding: 20px;
      vertical-align: middle;
      background-color: var(--blue90);
      
      &:nth-child(1) {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &:nth-child(3) {
        text-align: right;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;

        color: var(--yellow90);

        transition: filter 0.2s;

        svg {
          margin-right: 6px;
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
      
    }
  }
}
